<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>localiser-client</ion-title>
    <div class="header-row">
      <ion-button routerLink="/dashboard-user/dashboard-user/liste-echeances"> <ion-icon name="arrow-back"> </ion-icon></ion-button>
        <span class="heading">Localisation du client </span>
        <i class="fas fa-plus"></i>
        <i class="fas fa-ellipsis-v"></i>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div id="map" style="width:100%; height: 500px">

</div>
</ion-content>
